:root{
--nav-color-background: #3E2723;
--nav-color-text: #F5F5F5;
--nav-color-hover: #D4A373;
--color-text: var(--nav-color-text);
--color-background: black;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', Tahoma, sans-serif;
}

body{
    display: grid;
    grid-template-areas: "header"
                         "hero-splash"
                         "mission"
                         "productos-servicios"
                         "team"
                         "footer";
    width: 100%;
    margin: 0;
}

/*Navegador*/

header{
    grid-area: header;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 20px;
    background-color: var(--nav-color-background);
    color: var(--nav-color-text);
}

h1{
    font-size: 2rem;
}

.logo{
    display: flex;
    gap: 10px;
    align-items: center;
    flex-shrink: 1;
}

.logo img{
    align-self: self-start;
    padding: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

nav{
    flex-grow: 3;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
    justify-content: flex-end;
    font-size: 1.5rem;
}

nav ul a{
    color: var(--nav-color-text);
    text-decoration: none;
}

nav ul a:hover{
    color: var(--nav-color-hover);
}

/*Principal*/

.hero-splash{    
    width: 100%;
    min-height: 1060px;
    background-image: url('/resources/images/taza-gramos-cafe.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: var(--color-text);
    display: grid;
    grid-area: hero-splash;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: start;
    gap: 20px;
}

.hero-splash h2{
    font-size: 4rem;
    animation-duration: 3s;
    animation-name: slide-in;
    animation-delay: 0.5s;
    animation-iteration-count: 1;
    filter: drop-shadow(-10px 5px 0.6rem black);
    padding: 20px;
}

.hero-splash p {
    font-size: 2rem;
    animation-duration: 3s;
    animation-name: slide-in;
    animation-delay: 0.5s;
    animation-iteration-count: 1;
    padding: 20px;
}

/*Mision*/

.mission{
    width: 100%;
    min-height: 1000px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-area: mission;
    background-color: black;
    color: var(--color-text)
}

.mission .image{
    width: 100%;
    background-image: url('/resources/images/cup-of-cofee.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-top-right-radius: 50%;
}

.text-mission{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.text-mission h2, .text-mission p {
    padding: 20px;
}

.text-mission h2{
    font-size: 4rem;
    text-transform: uppercase;
}

.text-mission p{
    font-size: 1.5rem;
    font-style: italic;
}

/*Productos*/

.productos-servicios{
    display: grid;
    grid-area: productos-servicios;
    min-height: 800px;
    flex-direction: column;
}

.container{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    align-items: center;
    justify-content: center;
    background-color: var(--color-background);
}

.card{
    display: flex;
    flex-direction: column;
    border: 2px solid var(--nav-color-text);
    border-radius: 20%;
    align-items: center;
    justify-content: center;
    min-width:800px;
    padding: 10px;
    margin: 20px;
    color: var(--color-text);
}

.card:hover{
    font-weight: bold;
    font-size: 1.2rem;
    border: 3px solid var(--nav-color-background);
    transition: all 1.5s linear 0.5s;
}

.text-productos h2{
    padding: 20px;
    text-align: center;
}

.card img {
    width: 50%;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}

.card p {
    padding: 25px;
}

/*Equipo*/
.team{
    display: grid;
    grid-area: team;
    background-color: var(--color-background);
    color: var(--color-text);
}

.text-team{
    text-align: center;
    padding: 20px;
}

.text-team h2, .text-team h3{
    padding: 10px;
}

.img-team{
    width: 200px !important;
    border-radius: 20% !important;
}

.card h4{
    padding: 20px;
}

/*Footer*/

footer{
    padding: 20px;
    background-color: var(--color-background);
    color: var(--color-text);
    display: grid;
    grid-area: footer;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
}

footer p{
    margin: 30px;
    gap: 20px;
}

/*Animations y Responsive Web Design*/

@media only screen and (max-width: 415px){
    header{
        grid-area: header;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        align-items: center;
        justify-content: center;
        justify-items: center;
        align-content: center;
    }

    .text-logo{
        text-justify: center;
        justify-content: center;
        justify-items: center;
    }

    .text-logo h1{
        font-size: 2.5rem;
        text-justify: center;
    }

    .text-logo p{
        font-size: 1.5rem;
    }

    .logo{
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        justify-content: center;
        flex-shrink: 1;
    }

    .logo img{
        align-self: center;
        padding: 10px;
        width: 50%;
        height: 50%;
        border-radius: 50%;
    }

    nav{
        flex-grow: 3;
    }

    nav ul {
        padding: 10px;
        display: flex;
        list-style: none;
        gap: 25px;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        text-justify: center;
        align-items: center;
        font-size: 2rem;
    }

    nav ul li{
        text-justify: center;
    }

    .text-productos h2{
        font-size: 2.5rem;
    }

    .text-team h2, .text-team h3{
        font-size: 3rem;
    }

    .team h4{
        font-size: 2.5rem;
    }

    .team p{
        font-size: 1.5rem;
    }

    .card p {
        font-size: 1.5rem;
        text-justify: center;
        margin: 10px 15px;
    }

    .card img {
        width: 50%;
        height: 400px;
    }

    .img-team{
        width: 50% !important;
        height: 50%;
        border-radius: 20% !important;
    }

    footer{
        display: grid;
        grid-area: footer;
        grid-template-columns: 1fr;
        justify-content: center;
        align-content: center;
        align-items: center;
        justify-items: center;
        font-size: 1.5rem;
    }
}

@keyframes slide-in {
  from {
    translate: 150vw 0;
    scale: 200% 1;
  }

  to {
    translate: 0 0;
    scale: 100% 1;
  }
}